<!DOCTYPE html>
<html lang="en">
  <!-- ################### Top #################### -->
  <head>
    <title>Cybermonitoring WebUI</title>
	<meta charset="utf-8">
	<meta name="author" content="Dylan Forkey">
	<meta name="description" content="A WebUI that interfaces with cybermonitoring database to display information about collected domains">

	<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
  </head>
  <!-- ################### End Top ##################### -->
  <body style="overflow:hidden;">
